<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This handler maps the server.js file to IIS -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <!-- This rule redirects all requests to server.js for processing -->
        <rule name="NodeJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Optional: If you want to log errors to a file, you can add a <tracing> section -->
    <tracing>
      <traceFailedRequests>
        <add path="*"/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
