<configuration>
  <system.webServer>
    <handlers>
      <!-- Use the FastCGI handler for Node.js -->
      <add name="nodejs" path="server.js" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Nodejs\node.exe|C:\home\site\wwwroot\server.js" resourceType="Unspecified" />
    </handlers>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
