// ------------------------------------------------------------------- //
//  Media Query Widths
// ------------------------------------------------------------------- //

$mobile:   480px; // Portrait iPhone
$mobile-l: 650px; // Landscape Nexus / Galaxy (+some for good measure)
$tablet:   960px; // Portrait iPad (break to tablet at contain max)
$tablet-l: 1366px; // Landscape iPad Pro
$laptop:   1440px;
$desktop:  1920px;